.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.blackstyle{
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    padding: 0.75rem 37px;
    border-radius: 10px;
    margin-bottom: 15px;
}

button{
  padding: 7px 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px;
  letter-spacing: 2px ;

}

#colorHexa{
    color:blueviolet;
}
